
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	background-color: green;
	margin:0;
    font-family: 'Roboto', sans-serif;
}
.content {
	width: 970px;
	margin: 0 auto;
    padding: 0px 15px;
}
.introduction {
	background-image: url("../images/background.jpg");
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 599px;
    color: #fff;
    text-align: center;
    top-margin: 0;
    overflow: auto;
}
.content > h1 {
    margin-top: 0 rem;
    font-size: 3.125rem;
}

.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    height: 70px;
}
.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.logo {
	margin-top: 13px;

}



